@import url('https://fonts.googleapis.com/css?family=Kanit:700|Rock+Salt|Raleway:500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	background: url('../assets/Background.svg') no-repeat center center fixed;
	background-size: cover;
}
#signout {
	display: none;
}
.nav-bar {
	overflow: hidden;

	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 1px;
	width: 100%;
	.logo {
		padding: 0.5rem;
		font-family: 'Kanit', sans-serif;
		font-size: 1.5rem;
		text-decoration: none;
		color: #9eed85;
	}

	.menu-items {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		//padding: 0rem 1rem;
		a {
			border-bottom: 2px solid transparent;
		}
		.LT {
			font-family: 'Raleway', sans-serif;
			font-weight: 500;
			text-align: center;
			text-decoration: none;
			padding: 0.75rem 0.75rem;
			display: block;
			color: #ffffff;
			cursor: pointer;
		}
		a:hover {
			border-bottom: 2px solid #9eed85;
		}
	}
}

.big-container {
	overflow: hidden;
	font-family: 'raleway', sans-serif;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 180%;

	.buttons {
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);
		height: 4%;
		display: flex;
		flex-direction: row;
		padding: 2%;
		.search-filter {
			height: 2.3rem;
			padding: 10px;
			margin-right: 50px;
			color: white;
			background-color: transparent;
			border-style: solid;
			border-radius: 0.6rem;
			cursor: pointer;
			border-color: #9eed85;
		}
		.search-filter:hover {
			border-color: white;
		}
		.medical {
			height: 2.3rem;
			padding: 10px;
			margin-right: 50px;
			color: white;
			background-color: transparent;
			border-style: solid;
			border-radius: 0.6rem;
			cursor: pointer;
			border-color: #9eed85;
		}
		.medical:hover {
			border-color: white;
		}
		.admin {
			height: 2.3rem;
			padding: 10px;
			color: white;
			background-color: transparent;
			border-style: solid;
			border-radius: 0.6rem;
			cursor: pointer;
			border-color: #9eed85;
		}
		.admin:hover {
			border-color: white;
		}
	}

	.main-body {
		//overflow-x: hidden;
		position: relative;
		margin-top: 7%;
		height: 100%;
		width: 95%;
		left: 50%;
		transform: translate(-50%, 0);
		display: flex;
		flex-direction: row;
		.left {
			display: flex;
			flex-direction: column;
			width: 40%;
			position: absolute;
			height: 90%;
			left: 50%;
			transform: translate(-50%, 0);
			padding: 2%;
			h2 {
				color: white;
			}
			form {
				margin-top: 20px;
				margin-bottom: 20px;
				height: auto;
				width: auto;
				h4 {
					margin-top: 10px;
					margin-bottom: 10px;
					margin-left: 5%;
					color: white;
				}
				input {
					width: 90%;
					height: 40px;
					padding: 10px;
					box-sizing: border-box;
					margin-bottom: 15px;
					letter-spacing: 1px;
					border: 2px solid rgba(255, 255, 255, 0.4);
					font-size: 15px;
					border-radius: 20px;
					text-align: center;
					left: 50%;
					position: relative;
					background: rgba(136, 126, 126, 0.04);
					transform: translate(-50%, 0);
					color: white;
				}
				.error {
					text-align: center;
					color: red;
					padding-top: 5px;
					padding-bottom: 10px;
					font-size: 12px;
				}
				input[type='submit'] {
					margin-top: 25px;
					margin-bottom: 15px;
					height: 40px;
					color: #fff;
					font-size: 14px;
					width: 25%;
					padding: none;
					border: none;
					text-align: center;
					border-radius: 10px;
					background: linear-gradient(to right, #32d8ae, #7cffcb);
					cursor: pointer;
				}
			}
		}
	}
}

footer {
	width: 100%;
	display: flex;
	flex-direction: row;

	justify-content: center;
	padding-top: 1rem;
	padding-bottom: 0.8rem;
	font-size: 1rem;
	margin-top: 1px;
	color: #f76c6c;
	p {
		font-family: 'Roboto', sans-serif;
	}
	.signn {
		font-family: 'Rock Salt', cursive;
		padding: 0 0.5rem;
	}
}
