@import url('https://fonts.googleapis.com/css?family=Kanit:700|Raleway:500&display=swap');

* {
    margin: 0;
    padding: 0;

  }

html, body{
    height: 100%;
}

.nav-bar{
    overflow: hidden;
    background-color: #000033;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1px;
    width: 100%;
    .logo{
        padding: 0.5rem;
        font-family: 'Kanit', sans-serif;
        font-size: 1.5rem;
        text-decoration: none;
        color: #9eed85;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }

    .menu-items{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        //padding: 0rem 1rem;
        a{
            border-bottom: 2px solid transparent;
        }
        .LT {
            font-family: 'Raleway', sans-serif;
            font-weight: 500;
            text-align: center;
            text-decoration: none;
            padding: 0.75rem 0.75rem;
            display: block;
            color: #FFFFFF;
            cursor: pointer;
        }
        a:hover {
            border-bottom:2px solid #9eed85;
        }
    }
}

.big-container {
    
    overflow: hidden;
    font-family: 'raleway', sans-serif;
    position: relative;
    display: block;
    height: 100%;
    background-color: #000033;

    .container{
        position:absolute;
        top:50%;
        left:50%;
        height: 500px;
        transform: translate(-50%,-50%);
        img{
            position: absolute;
            top:10%;
            left: 50%;
            transform: translate(-50%,-10%);
            margin-bottom: 50px;
            width:150px;
        }
        
        input{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width:500px;
            height: 45px;
            padding: 10px;
            box-sizing: border-box;
            margin-bottom: 15px;
            letter-spacing: 1px;
            border: 2px solid rgba(255, 255, 255, 1);
            font-size: 15px;
            border-radius: 20px;
            text-align: center;
            position: relative;
            background: rgba(136, 126, 126, 0.04);
            color: white;
        }
        input[type="submit"]{
            margin-top: 25px;
            margin-bottom: 15px;
            height: 40px;
            color: #fff;
            font-size: 14px;
            width: 150px;
            padding: none;
            border: none;
            text-align: center;
            border-radius: 10px;
            
            background:transparent;
            border: 2px solid #9eed85;
            cursor: pointer;
        }
    }
}

footer {
    width: 100%;
	display: flex;
	flex-direction: row;
	
	justify-content: center;
	padding-top: 1rem;
	padding-bottom: 0.8rem;
	font-size: 1rem;
	margin-top: 1px;
	color: #f76c6c;
	p{
		font-family: 'Roboto',sans-serif;
	}
	.signn {
		font-family: 'Rock Salt', cursive;
		padding: 0 0.5rem;
	}
  }